<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hello World!</title>
  <link rel="stylesheet" href="semantic/semantic.min.css">
  <link rel="stylesheet" href="style.css">
  <!-- Normal script imports starts -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <script src="semantic/jquery.min.js"></script>
  <script>if (window.module) module = window.module;</script>
  <!-- Normal script imports ends -->
  <script src="semantic/semantic.min.js"></script>
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</head>
<body>
<div style="padding: 10px;" id="app">

  <div class="ui big icon input" style="width: 100%;">
    <input type="text" placeholder="Search files or folders..." v-model="keyword" id="keyword" @keydown.enter="onEnter" @keydown.down="increaseSelectedIndex" @keydown.up="decreaseSelectedIndex">
    <i class="search icon"></i>
  </div>

  <div class="ui middle aligned selection list">
    <div class="item div-item" v-for="(item,index) in filteredItems" :class="{'selected':index==selectedIndex}">
      <div class="right floated content">
        <button class="tiny ui icon button button-delete-item"><i class="icon x"></i></button>
      </div>
      <img class="ui avatar image" src="/images/avatar/small/helen.jpg">
      <div class="content">
        <div class="header">{{item.keyword}}</div>
        <div class="description">{{item.path}}</div>
      </div>
    </div>
  </div>

  <!--<button @click="doSomething">test</button>-->

  <!--{{a}}-->


</div>
</body>

<script>
  // You can also require other files to run in this process
//  require('./renderer.js');
  require('./app.js');

  $(document).ready(function () {
    $('#keyword')[0].focus();
  });


</script>
</html>
