.div-item .button-delete-item{
  display: none;
}
.div-item:hover .button-delete-item{
  display: block;
}
.div-item.selected{
  background: rgba(0,0,0,0.08)!important;
}

.ui.list>.item>div>.avatar+.content{
  display: inline-block;
}

.circular-icon{
  text-align: center;
  padding: 0 !important;
  background: #ff9c5c !important;
}
.circular-icon i{
  margin: 0 !important;
  color: #FFFFFF!important;

}
